@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    font-family: 'Roboto', sans-serif;
}

p{
    line-height: normal;
}

.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    justify-content: space-between;
    background-color: #1e2738;
    padding: 15px 200px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

header>a{
    font-size: 24px;
    font-weight: bolder;
    color: #f9faf8;
}

a{
    text-decoration: none;
}

.header-link{
    color: #e5e7eb;
    font-size: 18px;
    margin-left: 20px;
}

.hero{
    height: 520px;
    background-color: #1e2738;
    padding: 15px 200px;
    gap: 50px;
}

.img-wrapper{
    width: 740px;
    height: 220px;
    background-color: darkgray;
}

.hero h1{
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.hero p{
    color: #e5e7eb;
    font-size: 18px;
}

.information{
    padding: 80px 200px;
    justify-content: center;
    gap: 35px;
}

.information h2{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.information>div{
    gap: 50px;
}

.thumbnails{
    width: 165px;
}

.thumbnails>p{
    font-size: 18px;
    text-align: center;
    color: #5d6169;
}

.list-object{
    height: 165px;
    width: 165px;
    border: 3px solid #3882f6;
    border-radius: 5px;
}

.quote{
    padding: 100px calc(50vw - 410px);
    background-color: #e5e7eb;
}

.quote>p{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

.quote>b{
    align-self: flex-end;
    text-align: right;
    font-size: 24px;
    font-weight: bolder;
}

.call-to-action{
    padding: 100px 200px;
    justify-content: center;
    color: #f9faf8;
}

.call-to-action>div{
    padding: 35px 0px;
    border-radius: 10px;
    background-color: #3882f6;
    justify-content: space-evenly;
}

.call-to-action p{
    font-size: 18px;
}

.call-to-action h3{
    font-weight: bold;
}

.call-to-action button{
    width: 135px;
    height: 40px;
    outline: none;
    border: 2px solid white;
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 5px;
}